{% if isAdmin %}
<h2> Добавление нового продукта </h2>
<form class="add-form" action="?page=product&act=add" method="post" enctype="multipart/form-data" required>
  <label>Наименование</label><br><input type="text" name="title" required>
  <label>Категория</label><br><input type="text" name="category" required>
  <label>Цена</label><br><input type="text" name="price" required>
  <label>Комплект</label><br><input type="text" name="complect" required>
  <label>Краткое описание</label><br><input type="text" name="short_desc" required>
  <label>Полное описание</label><br><textarea type="text" name="full_desc" required></textarea>
  <input name="photo" type="file" value="Фото" required>
  <input name="action" type="hidden" value="create">
  <input type="submit" value="Добавить товар">
</form>
<a href="?page=orders" class="button">Заказы</a>
{% endif %}