<h2>Каталог товаров</h2>
<div class="catalog">
{% for product in products %}
    <div class="catalog-product">
        <a href="index.php?page=product&id={{ product.id }}">
            <img src="{{ product.path_small }}" alt="{{ product['title'] }}">
            <p>{{ product.title }}</p>
            {% if isAdmin %}
            <a href="?page=product&act=del&id={{ product.id }}" class="button">Удалить</a>
            {% else %}
            <a href="#" class="button" onclick="buy(event)" data-id="{{ product.id }}">Купить</a>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    <!-- <button onclick="getMore()">Еще товары</button> -->
</div>

<script>
    function buy(event) {
        $.post('index.php?page=cart', {
            id: event.target.dataset.id,
            act: 'add'
        })
            .done(data => {
                alert('Товар добавлен в корзину!')
            })
    }
</script>