{% if cart is empty %}
<h3>Корзина пуста!</h3>

{%else %}
<table class="cart-wrap">
  {% for product in cart %}
  <tr class="cart-item">
    <td><img src="{{product.path_small}}" alt="{{product.title}}"></td>
    <td>
      <div class="name">{{product.title}}</div>
    </td>
    <td>
      <div class="count">{{product.count}}</div>
    </td>
    <td><a href="?page=cart&act=del&id={{product.id}}" class="button">Удалить</a></td>
    <td><a href="?page=cart&act=add&id={{product.id}}" class="button">Добавить</a></td>
  </tr>
  {% endfor %}
  <br>
</table>
<a href="?page=cart&act=order" class="button" id="order">Оформить</a>
{% endif %}