<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Пегий дудочник</title>
    <link rel="stylesheet" href="views/css/style.css">
</head>

<body>
    <div class="container container-main">
        <div class="header"> <a href="?page=home" class="logo">Пегий дудочник</a>
            <ul class="menu">
                <li><a href="?page=home">Главная</a></li>
                <li><a href="?page=catalog">Каталог</a></li>
                <li><a href="?page=contacts">Контакты</a></li>
                {% if (isAdmin) %}
                    <li><a href="?page=admin">Управление</a></li>
                {% else %}
                    <li><a href="?page=cart">Корзина</a></li>
                {% endif %}
                {% if (login) %}
                    <li><a href="index.php?exit=true">Выход ({{login}})</a></li>
                {% else %}
                    <li><a href="index.php?page=login">Вход</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="content">