/*ОБЩИЕ СТИЛИ САЙТА*/


/*страница*/

body {
    min-height     : 100vh;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    padding        : 0;
    margin         : 0;
}

.container {

    min-height      : 100vh;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    position        : relative;
    width           : 1200px;
    margin          : auto;
    background-color: #f5efe7;
}

/*заголовки второго уровня*/
.container h2 {
    text-align: center;
    font-size : 35px;
}



/*класс для кнопки*/

.button {
    display           : block;
    clear             : both;
    padding-top       : 10px;
    text-align        : center;
    text-decoration   : none;
    color             : #3a24a3;
    font-size         : 18px;
    background-color  : #49d54f;
    border-radius     : 10px;
    width             : 150px;
    height            : 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}


/* заголовки*/

.button:hover {
    outline           : none;
    font-weight       : bold;
    color             : #fff;
    cursor            : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.button:active {
    font-weight       : bold;
    border            : 3px solid green;
    cursor            : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}


/* шапка сайта */

.header {
    background-image   : url("../../img/head.bg.jpg");
    background-repeat  : no-repeat;
    background-position: 0 -110px;
    position           : relative;
    height             : 80px;
}


/*логотип*/

.header .logo {
    display           : block;
    text-decoration   : none;
    text-shadow       : black 0 0 2px;
    padding-top       : 15px;
    padding-left      : 70px;
    color             : coral;
    float             : left;
    font-size         : 30px;
    font-family       : fantasy;
    text-transform    : uppercase;
    margin            : 15px 0 0 50px;
    width             : 400px;
    height            : 60px;
    background-image  : url(../../img/logo.png);
    background-repeat : no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}


/* меню сайта*/

.menu {
    position       : absolute;
    bottom         : 0px;
    right          : 0px;
    width          : 750px;
    list-style-type: none;
    margin         : 0px;
    padding        : 0px;
}

.menu li a {
    box-sizing      : border-box;
    text-align      : center;
    float           : left;
    width           : 150px;
    height          : 50px;
    padding         : 10px;
    background-color: #f5efe7;
    font-family     : fantasy;
    font-size       : 24px;
    font-variant    : small-caps;
}

.menu li a {
    color          : coral;
    text-decoration: none;
}

.menu li:first-child a {
    border-top-left-radius: 15px;
}

.menu li:hover a {
    color           : #ffe986;
    background-color: coral;
}

.menu li:active a {
    border: 3px solid red;
}


/* контейнер и содержимое сайта */

.content {
    flex      : 1;
    box-sizing: border-box;
    padding   : 10px 20px 10px 10px;
    overflow  : hidden;
    clear     : both;
}


/* подвал сайта */

.footer {
    padding-top     : 5px;
    height          : 50px;
    background-color: #a3856b;
    clear           : both;
}

.footer .copy {
    float       : right;
    margin-right: 100px;
    text-align  : center;
}

.footer .copy a {
    text-decoration: none;
    color          : black;
}


/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */

.container-main .content p {
    color      : #707070;
    text-indent: 50px;
    text-align : justify;
    font-size  : 24px;
    line-height: 1.5em;
}

.container-main .content img {
    width : 400px;
    margin: 0 20px 5px 0;
    float : left;
}


/* СТИЛИ СТРАНИЦЫ КАТАЛОГОВ */

.content .catalog-product {
    width     : 350px;
    float     : left;
    margin    : 10px;
    font-size : 18px;
    outline   : 1px solid gray;
    padding   : 10px;
    text-align: center;
}

.content .catalog-product:hover {
    outline: none;
}

.content .catalog-product img {
    width: 350px;
}

.content .catalog-product a {
    text-decoration: none;
    color          : coral;
    font-weight    : bold;
}

.content .catalog {
    display  : flex;
    flex-wrap: wrap;
}

/*СТРАНИЦЫ ТОВАРА*/


/* заголовки 3го уровня на странице товара */

.content h3 {
    clear           : both;
    text-align      : center;
    color           : black;
    font-size       : 24px;
    font-weight     : 400;
    background-color: #eaeaea;
}

.content p {
    text-indent: 50px;
    text-align : justify;
}

.content .button {
    float       : right;
    margin-right: 20px;
}


/* рамка миниатюры изображения на странице товара */

.content .mini {
    position: relative;
    float   : left;
    margin  : 10px;
}

.content .mini .button:hover {
    outline    : none;
    font-weight: bold;
    color      : #fff;
    cursor     : pointer;
}

.content mini .button:active {
    font-weight       : bold;
    border            : 3px solid green;
    cursor            : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}


/* краткое описание товара */

.content .short {
    color     : #707070;
    font-size : 22px;
    font-style: italic;
    text-align: justify;
}


/* таблица характеристик товара */

.content .product_param {
    font-size      : 18px;
    width          : 800px;
    margin         : auto;
    border-collapse: collapse;
}

.content .product_param th,
.content .product_param td {
    border : 1px solid gray;
    padding: 7px;
}

.content .product_param th {
    height          : 40px;
    background-color: #ffd3c3;
}

.content .product_param tr td:first-child {
    text-align: center;
}


/* параграфы страницы товара */

.content p:first-letter {
    color      : coral;
    font-size  : 1.5em;
    font-family: fantasy;
}


/* подробное описание товара */

.content .more {
    color      : #484343;
    font-size  : 18px;
    font-weight: 400;
    text-align : left;
}


/* комплектность  товара */

.content .complect {
    font-size: 18px;
}


/* форма редактирования */

.edit-form {
    display       : flex;
    flex-direction: column;
    width         : 500px;
    margin        : 10px auto;
}


/*СТРАНИЦА КОНТАКТОВ И ОБРАТНОЙ СВЯЗИ*/


/* форма контактных данных */

.content .form {
    margin: 0 25px;
    width : 550px;
    float : left;
}

.content .form table {
    font-size     : 18px;
    border-spacing: 25px;
    margin        : 0 auto;
    font-weight   : 700;
}

.content .form textarea {
    height: 100px
}

.content .action_form {
    display        : flex;
    justify-content: space-around;
}

.content .instr label {
    display: inline-block;
    width  : 110px;
}


/* текст внутри тегов input с возможностью ввода */

.content .form input[placeholder],
.content .form textarea[placeholder] {
    width      : 100%;
    font-size  : 18px;
    font-family: sans-serif;
    font-style : italic;
}

.content .form textarea[placeholder] {
    text-transform: none;
}

.content .form input[type="email"]:focus {
    color           : orangered;
    background-color: bisque;
}

.content .form [type="text"] {
    text-transform: capitalize;
    width         : 100%;
    font-size     : 14px;
    font-family   : sans-serif;
    font-style    : italic;
}

.content .form input [type="chekbox"] {
    display: inline-block;
    width  : 50px;
}


/*кнопки формы обратной связи*/

.content .button {
    outline         : none;
    padding         : inherit;
    position        : inherit;
    cursor          : pointer;
    background-color: #faebd7;
    color           : coral;
}

.content .button:hover {
    outline         : none;
    position        : inherit;
    cursor          : pointer;
    background-color: coral;
    color           : #faebd7;
}


/*адрес и карта*/

.content .address {
    width: 550px;
    float: left;
}

.content .address .address-table table {
    border-spacing: 10px;
    font-weight   : bold;
}

.content .address .map {
    width : 100%;
    height: 374px;
}

.content .address:after {
    clear: both;
}

/*СТРАНИЦА КОРЗИНЫ*/
.cart-wrap {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
}

/*АДМИНКА*/
#orders-table {
    width          : 80%;
    margin         : 0 auto;
    font-size      : 18px;
    border-collapse: collapse;
}

#orders-table td,
#orders-table th {
    padding: 10px;
}

.add-form {
    display       : flex;
    flex-direction: column;
    width         : 500px;
    margin        : 10px auto;
}

/* СТРАНИЦА ВХОДА */

.login-form {
    width : 300px;
    height: 200px;
    margin: 200px auto;
}

.login-form form {
    display       : flex;
    flex-direction: column;
}